<h1>Product: <%= @product.name %></h1>

<h4>Reviews Written by <%= @product.name %>:</h4>
<% if @product.reviews.any? %>
  <% @product.reviews.each do |review| %>
    <ul>
      <li><%= link_to review.title, product_review_path(@product, review)%></li>
    </ul>
  <% end %>
<% else %>
  <p>No reviews by this product yet.</p>
<% end %>

<p><%= link_to "Edit product", edit_product_path(@product) %></p>
<p><%= link_to "Delete product", product_path(@product), :data => {:confirm => "Are you sure?", :method => "delete"} %></p>
<p><%= link_to "Return to products", products_path %></p>
<p><%= link_to "Return to reviews", reviews_path(@reviews) %></p>
<p><%= link_to "Return to the Produce", products_path %></p>